# Local history file persistence
layout_local_history

# Use the LinkML .venv
source .venv/bin/activate

# New requirement for WSL
export JUST_TEMPDIR=/tmp

# Use pyenv
#layout pyenv 3.13.12
# instruct direnv to configure the virtual environment local to this directory
#layout python 3.13.12

layout project_prompt
